<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> <%= title %> | Gawwesomeist Things </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body> 
    	<h1> My site title is <%= title %> </h1>
    	<h2> <%= welcome %> </h2>

        <ul>
            <% awesomeThings.forEach(function(thing) { %>
                <li><%= thing.name %> is awesome!</li>
            <%    }); %>

    </body>
</html>